.root {
    -fx-background-color: #f2f2f2; /* Light grey background for the whole scene */
}

.border-pane {
    -fx-background-color: white; /* White background for the BorderPane */
    -fx-border-color: #d3d3d3; /* Light grey border for the BorderPane */
    -fx-border-width: 1; /* Border width of 1 pixel */
}

.top-bar {
    -fx-background-color: #333333; /* Dark grey background for the top bar */
    -fx-padding: 10px; /* Padding inside the top bar */
    -fx-spacing: 5px; /* Spacing between elements in the top bar */
}

.left-bar {
    -fx-background-color: #e6e6e6; /* Lighter grey for the left navigation bar */
    -fx-padding: 10px;
}

.center-area {
    -fx-padding: 20px; /* More padding for the center area to give content more room */
}

.bottom-bar {
    -fx-background-color: #333333; /* Same as top bar for consistency */
    -fx-padding: 10px;
    -fx-text-fill: white; /* White text for anything in the bottom bar */
}

.right-bar {
    -fx-background-color: #e6e6e6; /* Same as left bar for consistency */
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #206e21; /* A pleasant blue background for buttons */
    -fx-text-fill: white; /* White text on the buttons */
    -fx-border-color: #174e17; /* Darker blue for the button border */
    -fx-border-width: 1;
    -fx-border-radius: 5; /* Slightly rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 1); /* Subtle shadow effect */
}

.button:hover {
    -fx-background-color: #174e17; /* Darker blue when hovering over the button */
}

.label {
    -fx-text-fill: #333; /* Dark grey text for labels for better readability */
    -fx-font-size: 16px; /* Slightly larger font size for labels */
}

.button:pressed {
    -fx-background-color: #113a11; /* Light blue when clicked */
    -fx-border-color: #0b270c; /* Slightly darker border when clicked */
}

/*.custom-dialog {*/
/*    -fx-background-color: #0b270c;*/
/*}*/

/*.custom-dialog .label {*/
/*    -fx-text-fill: #ffffff;*/
/*}*/

/*.custom-dialog .text-field, .custom-dialog .check-box {*/
/*    -fx-background-color: #113a11;*/
/*    -fx-text-fill: #ffffff;*/
/*}*/

/*.custom-dialog .button {*/
/*    -fx-background-color: #113a11;*/
/*    -fx-text-fill: #ffffff;*/
/*    -fx-border-color: #ffffff;*/
/*    -fx-border-width: 2;*/
/*}*/

/*.custom-dialog .button:hover {*/
/*    -fx-background-color: #0b270c;*/
/*    -fx-text-fill: #ffffff;*/
/*    -fx-border-color: #ffffff;*/
/*}*/




